/*-----------------------------------*\ #General \*-----------------------------------*/

.notice-banner {
  background-color: #ffd700;
  /* Background color for the notice banner */
  color: rgb(43, 42, 42);
  /* Text color for the notice banner */
  text-align: center;
  padding: 10px;
  font-family: 'Manrope', sans-serif;
}
#accountDisabledBanner,
#accountInfoBanner {
  display: none;
  padding: 10px;
  background-color: #f44336;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: 'Manrope', sans-serif;
  border-radius: 4px;
  margin-top: 10px;
}

:root {
  /** * colors */
  --white: hsla(0, 0%, 100%, 1);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --cultured: hsla(220, 20%, 97%, 1);
  --snow: hsla(345, 57%, 97%, 1);
  --manatee: hsla(219, 10%, 62%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --cinnamon-satin: hsla(344, 53%, 62%, 1);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --raisin-black_a6: hsla(216, 14%, 14%, 0.06);
  --gunmetal: hsla(214, 15%, 21%, 1);
  --charcoal: hsla(219, 22%, 26%, 1);
  --ff-manrope: 'Manrope', sans-serif;
  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + .66vw);
  --fs-3: calc(2.6rem + .24vw);
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  --fw-700: 700;
  /** * spacing */
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  font-weight: bold;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header h1 {
  display: inline-flex;
  color: gray;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
}

.header a {
  display: inline-block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.header a::before {
  content: '';
  width: 0%;
  height: 3px;
  display: block;
  background-color: gray;
  margin-top: 10px;
}

.header a:hover::before {
  width: 100%;
  transition: all .5s;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  margin-top: 60px;
  /* Adjust the margin-top as needed */
}

h2 {
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

label {
  color: #555555;
}

input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 14px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}